* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin-right: .5vw;
  background-color: whitesmoke;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  cursor: pointer;
}

div {
  position: relative
}

body > div {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

span.symbol {
    color: lightcoral;
}


@font-face {
  font-family: "Montserrat-Medium";
  src: url("/type/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url("/type/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("/type/Montserrat-LightItalic.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/type/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/type/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/type/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Necto-Mono";
  src: url("/type/Necto-Mono.woff2");
}

@font-face {
  font-family: "Necto-Mono";
  src: url("/type/Necto-Mono.woff2");
}




mark {
  background: pink !important;
}

i {
  font-weight: lighter;
  font-family: "Montserrat-MediumItalic";
}

b {
  font-family: "Montserrat-Bold";
}

s {
  text-decoration-color: lightpink;
}

u {
  text-underline-position: from-font;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.arrow {
    position: absolute;
    width: 60vw;
    padding: 4.5vw 5vw 0vh 3vw;
    box-sizing: border-box;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: 45vw;
    color: whitesmoke;
    -webkit-text-stroke-width: .4vw;
    -webkit-text-stroke-color: lightpink;
    visibility: visible;
    line-height: 0;
}


.gameover {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: right;
  margin: auto;
  visibility: hidden;
  padding: 6vh 8vh;
  background-color: pink;
  border-radius: 10vh;
  border: 5px solid whitesmoke;
  box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw whitesmoke;
}

.gameover a {
  visibility: hidden;
  color: black;
  font-family: 'Montserrat-SemiBold';
  font-weight: normal;
  font-style: normal;
  font-size: calc(4vw + 2.5vh);
  text-align: right;
  line-height: 12.5vh;
  padding-bottom: 2vh;
  position: relative;
  text-decoration-color: whitesmoke;
  text-underline-position: from-font;
}

@media (max-width: 779px) and (orientation: landscape) {

  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

  .gameover {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: right;
    -webkit-z-index: 100!important;
    -moz-z-index: 100!important;
    -ms-z-index: 100!important;
    -o-z-index: 100!important;
    z-index: 100!important;
    padding: 6vh 8vh;
    background-color: pink;
    visibility: visible;
    border-radius: 10vh;
    border: 5px solid whitesmoke;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw whitesmoke;
    
  }

  .gameover a {
    visibility: visible;
    color: black;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(4vw + 2.5vh);
    text-align: right;
    line-height: 12.5vh;
    padding-bottom: 2vh;
    position: relative;
    text-decoration-color: whitesmoke;
    text-underline-position: from-font;
  }

  html, body {
    overflow: hidden;
  }

}

@media (max-height: 500px) and (orientation: landscape) {

  .gameover {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: right;
    -webkit-z-index: 100!important;
    -moz-z-index: 100!important;
    -ms-z-index: 100!important;
    -o-z-index: 100!important;
    z-index: 100!important;
    padding: 6vh 8vh;
    background-color: pink;
    visibility: visible;
    border-radius: 10vh;
    border: 5px solid whitesmoke;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw whitesmoke;
  }

  .gameover a {
    visibility: visible;
    color: black;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(4vw + 2.5vh);
    text-align: right;
    line-height: 12.5vh;
    padding-bottom: 2vh;
    position: relative;
    text-decoration-color: whitesmoke;
    text-underline-position: from-font;
  }

  html, body {
    overflow: hidden;
  }

}





.line {
  float: left;
  width: 100%;
  border-top: .30em solid $lightBlack;
}

.wrapper {
  margin: auto;
  width: 60em;
  /*960px*/
  min-height: 80%;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-radius: 2vh;
  padding: 13px 15px 15px 16px;
}

.menubar {
  position: fixed;
  background: none;
  height: 100%;
  width: calc(27vw - 15px);
  z-index: 1;
  top: 0;
  right: 0;
  border: 0;
  margin-right: 15px;
  transition: 0.75s;
  border-radius: 0;
  box-shadow: none;
  visibility: visible;
  overflow-y: scroll;
  overflow-x: hidden;
}

.menubar .menubar-item {
  background: pink;
  box-shadow: inset calc(5px + .3vw) calc(5px + .3vw) calc(5px + .3vw) #7d4f56, inset calc(-5px - .3vw) calc(-5px - .3vw) calc(5px + .3vw) #ffcdd9;
  margin: 15px;
  position: relative;
  padding: 15px;
  overflow: hidden;
  border-radius: 2vh;
}

.menubar .about {
  position: relative;
  background: whitesmoke;
  box-shadow: 7px 7px 8px #626262, -7px -7px 8px white;
  border-radius: 2vh;
  height: auto;
  padding: 25px;
  margin: 15px;
  z-index: 1;
}

.menubar .about .title {
  font-family: 'Montserrat-SemiBold';
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 0.3em;
  line-height: 105%;
  padding-bottom: 1vh;
  text-align: right;
  text-decoration: underline;
  text-underline-position: from-font;
}

.menubar .about .info {
  font-family: 'Montserrat-Regular';
  font-weight: normal;
  margin-bottom: 0.3em;
  font-size: calc(12px + 0.2vw);
  color: black;
  text-decoration: none;
}

.menubar .menubar-item .contact {
  position: fixed;
  font-family: 'Necto-Mono';
  color: black;
  font-style: normal;
  font-size: 12px;
  line-height: 1.3;
  bottom: 4%;
  left: 1.2%;
}

.menubar .menubar-item .contact a {
  position: fixed;
  font-family: "Necto-Mono";
  font-size: 12px;
  color: black;
  text-decoration: underline;
}



.pill_menu {
  position: relative;
  color: black;
  padding: 2px 10px 5px 10px;
  transition: 0.3s;
  margin: 0.15em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5vh;
  font-family: 'Necto-Mono';
  font-weight: normal;
  font-size: calc(12px + .4vw);
  background: whitesmoke;
  font-style: italic;
}

.pill_menu:hover {
  color: whitesmoke;
  background: black;
  font-family: 'Necto-Mono';
  font-weight: normal;
  font-style: normal;
}

.pill_menu.selected {
  color: whitesmoke;
  background: black;
  font-family: 'Necto-Mono';
  font-weight: normal;
  font-style: normal;
}

.header {
  position: absolute;
  background-color: whitesmoke;
  padding: 15px;
  color: black;
  height: 10vh;
  width: 74.8%;
  transition: 0.8s;
  z-index: 1;
}

.header .navButtons{
  visibility: hidden;
  display: inline-block;
  padding: 0;
  width: 0;
}

.header .navButtons .navTagButton{
  padding: 0;
  visibility: hidden;
}

.header .navButtons .navAboutButton{
  padding: 0;
  visibility: hidden;
}


.header .name {
  font-family: 'Montserrat-Bold';
  position: absolute;
  font-style: normal;
  display: inline-block;
  font-size: 6vh;
  margin-top: -1vh;
}

.header .name2 {
  font-family: 'Montserrat-Bold';
  position: relative;
  font-style: normal;
  display: inline-block;
  font-size: 6vh;
}

.grid-wrapper {
  padding-top: 10vh;
  padding-right: 26vw;
}

.grid-container {
  position: relative;
  background-color: lightpink;
  border-radius: 1vh;
  height: auto;
  display: block;
  column-count: 2;
  column-gap: 15px;
  padding: 15px;
}

.grid-item {
  position: relative;
  transition: 1.2s;
  padding: 15px;
  break-inside: avoid;
  background: pink;
  border-radius: 2vh;
  margin-bottom: 15px;
  text-align: right;
  box-shadow: inset calc(5px + .3vw) calc(5px + .3vw) calc(5px + .3vw) #7d4f56, inset calc(-5px - .3vw) calc(-5px - .3vw) calc(5px + .3vw) #ffcdd9;
}

.grid-item:hover {
  border-radius: 150vw;
  background: whitesmoke;
}

.grid-item.hovered {
  border-radius: 150vw;
  background: whitesmoke;
}

.grid-item .summary {
  margin-bottom: 1em;
  display: table;
  text-align: left;
  opacity: 1;
  cursor: pointer;
  width: 100%;
}

.grid-item .summary .title {
  font-family: 'Montserrat-SemiBold';
  font-weight: normal;
  font-style: normal;
  font-size: 3vw;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  line-height: 110%;
}

.grid-item .summary .info {
  font-family: 'Montserrat-LightItalic';
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 0.3em;
}

.grid-item .summary .colla {
  font-family: 'Montserrat-Bold';
  font-size: 10px;
}

.grid-item:hover .summary .title {
  font-family: 'Montserrat-LightItalic';
  font-weight: normal;
}

.grid-item.hovered .summary .title {
  font-family: 'Montserrat-LightItalic';
  font-weight: normal;
}

.grid-item:hover .summary .info {
  font-style: normal;
  font-family: 'Montserrat-Bold';
}

.grid-item.hovered .summary .info {
  font-style: normal;
  font-family: 'Montserrat-Bold';
}

.grid-item .summary>div {
  padding-left: 4px;
  display: table-cell;
}

.grid-item img {
  width: 85%;
  height: auto;
}

.grid-item .description {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 450px;
  max-width: 800px;
  width: 120vh;
  height: 80vh;
  transform: translate(-50%, -50%);
  background: whitesmoke;
  display: none;
  z-index: +1;
}




/* --------------------- */
.sidenavAbout::-webkit-scrollbar {
  display: none;
}

.sidenavAbout {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -50vw;
  background-color: pink;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.75s;
  border-radius: 10vw;
  border: 5px solid whitesmoke;
  box-shadow:inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw whitesmoke;
  margin: auto;
}

.about-container {
    padding: 5vw 5vw 0vw 5vw;
    box-sizing: border-box;
    position: relative;
}

.sidenavAbout .title {
  font-family: 'Montserrat-SemiBold';
  font-weight: normal;
  font-style: normal;
  font-size: calc(30px + 2vw);
  text-align: right;
  line-height: 105%;
  padding-bottom: 2vh;
  position: relative;
  text-decoration: underline;
  text-underline-position: from-font;
}

.sidenavAbout .info {
  font-family: 'Montserrat-LightItalic';
  font-weight: normal;
  font-size: 1.5vh;
  margin-bottom: 3vh;
  text-align: right;
  position: relative;
}

.sidenavAbout h1 {
  text-decoration: none;
  color: black;
  display: block;
}

.sidenavAbout a {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: black;
  font-size: calc(12px + 0.2vw);
  font-family: 'Montserrat-Medium';
}

.sidenavAbout img {
  width: 100%;
  height: auto;
  border-radius: 2vw;
  margin-bottom: 10px;
}

.centerAbout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

.sidenavAbout .closebtnAbout {
  position: sticky;
  font-family: 'Montserrat-SemiBold';
  font-weight: normal;
  font-style: normal;
  color: black;
  font-size: calc(20px + 1.5vw);
  text-align: center;
  border-radius: 1vw;
  margin-left: calc(50% - 20px);
  bottom: 3vh;
  background: whitesmoke;
  padding: 0px .75vw .75vw .75vw;
  z-index: 3;
}

/* @media screen and (max-height: 450px) {
  .sidenavAbout {
    padding-top: 15px;
  }

  .sidenavAbout a {
    font-size: 18px;
  }
} */











/* --------------------- */
.sidenav1::-webkit-scrollbar {
    display: none;
}

.sidenav1 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.text-container {
    width: 42vw;
    float: right;
    margin-left: 55vw;
    padding: 5vw 5vw 2vh 5vw;
    box-sizing: border-box;
    position: fixed;
}

.image-container {
    width: 60vw;
    float: left;
    padding: 5vw;
    box-sizing: border-box;
}

.sidenav1 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav1 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav1 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav1 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav1 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav1 .closebtn1 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}

@media screen and (max-width: 768px) {
    .text-container{
        width: 100%;
        float: none;
        margin-left: 0;
        position: relative;
    }
  
    .image-container {
        width: 100%;
        float: none;
    }
}


/* --------------------- */
.sidenav2::-webkit-scrollbar {
    display: none;
}

.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav2 .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(.5vw + .5vh);
}

.sidenav2 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav2 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav2 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav2 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav2 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
}

.sidenav2 .closebtn2 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - 20px - 2.5vw);
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav3::-webkit-scrollbar {
    display: none;
}

.sidenav3 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav3 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav3 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav3 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav3 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav3 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav3 .closebtn3 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav4::-webkit-scrollbar {
    display: none;
}

.sidenav4 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav4 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav4 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav4 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav4 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav4 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav4 .closebtn4 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav5::-webkit-scrollbar {
    display: none;
}

.sidenav5 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav5 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav5 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav5 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav5 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav5 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav5 .closebtn5 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav6::-webkit-scrollbar {
    display: none;
}

.sidenav6 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav6 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav6 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav6 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav6 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav6 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav6 .closebtn6 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav7::-webkit-scrollbar {
    display: none;
}

.sidenav7 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav7 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav7 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav7 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav7 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav7 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav7 .closebtn7 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav8::-webkit-scrollbar {
    display: none;
}

.sidenav8 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav8 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav8 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav8 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav8 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav8 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav8 .closebtn8 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav9::-webkit-scrollbar {
    display: none;
}

.sidenav9 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav9 .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(.5vw + .5vh);
}

.sidenav9 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav9 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav9 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav9 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav9 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav9 .closebtn9 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - 20px - 2.5vw);
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav10::-webkit-scrollbar {
    display: none;
}

.sidenav10 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav10 .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(.5vw + .5vh);
}

.sidenav10 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav10 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav10 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav10 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav10 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav10 .closebtn10 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - 20px - 2.5vw);
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav11::-webkit-scrollbar {
    display: none;
}

.sidenav11 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav11 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav11 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav11 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav11 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav11 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav11 .closebtn11 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}

/* --------------------- */
.sidenav12::-webkit-scrollbar {
    display: none;
}

.sidenav12 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav12 .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(.5vw + .5vh);
}

.sidenav12 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav12 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav12 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav12 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav12 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav12 .closebtn12 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - 20px - 2.5vw);
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}





/* --------------------- */
.sidenav14::-webkit-scrollbar {
    display: none;
}

.sidenav14 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav14 .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(.5vw + .5vh);
}

.sidenav14 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav14 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav14 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav14 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav14 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav14 .closebtn14 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - 20px - 2.5vw);
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav15::-webkit-scrollbar {
    display: none;
}

.sidenav15 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav15 .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(.5vw + .5vh);
}

.sidenav15 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav15 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav15 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav15 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav15 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav15 .closebtn15 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - 20px - 2.5vw);
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav16::-webkit-scrollbar {
    display: none;
}

.sidenav16 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav16 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav16 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav16 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav16 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav16 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav16 .closebtn16 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav17::-webkit-scrollbar {
    display: none;
}

.sidenav17 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav17 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav17 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav17 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav17 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav17 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav17 .closebtn17 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav18::-webkit-scrollbar {
    display: none;
}

.sidenav18 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav18 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav18 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav18 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav18 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav18 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav18 .closebtn18 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav19::-webkit-scrollbar {
    display: none;
}

.sidenav19 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav19 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav19 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav19 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav19 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav19 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav19 .closebtn19 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}


/* --------------------- */
.sidenav20::-webkit-scrollbar {
    display: none;
}

.sidenav20 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -50vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.75s;
    border-radius: 10vw;
    border: 5px solid lightpink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw lightpink;
}

.sidenav20 .title {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    font-size: calc(30px + 2vw);
    text-align: right;
    line-height: 105%;
    padding-bottom: 2vh;
    position: relative;
}

.sidenav20 .info {
    font-family: 'Montserrat-LightItalic';
    font-weight: normal;
    font-size: 1.5vh;
    margin-bottom: 3vh;
    text-align: right;
    position: relative;
}

.sidenav20 h1 {
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav20 a {
    font-size: 1.5vh;
    font-family: 'Montserrat-LightItalic';
    font-style: italic;
}

.sidenav20 img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    margin-bottom: 10px;
}

.sidenav20 .closebtn20 {
    position: fixed;
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-radius: 1vw;
    margin-left: calc(50% - (20px + 1.5vw + 6vw));
    bottom: 3vh;
    background: pink;
    padding: 0px .75vw .75vw .75vw;
    z-index: 3;
}




/* --------------------- */
.box {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat-SemiBold';
  font-weight: normal;
  color: black;
  font-size: 15px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.box p {
  font-family: 'Montserrat-Regular';
  font-weight: normal;
  font-style: normal;
  color: black;
  font-size: calc(12px + 0.2vw);
}

.pill {
  position: inherit;
  color: whitesmoke;
  padding: 2px 10px 5px 10px;
  transition: 0.3s;
  margin: 0.15em;
  cursor: pointer;
  background-color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 18px;
  font-family: 'Necto-Mono';
  font-weight: normal;
  font-size: 12px;
}

.pill:hover {
  background-color: whitesmoke;
  color: black;
  font-family: 'Necto-Mono';
  font-weight: normal;
  font-style: italic;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container:after {
  cursor: pointer;
  content: attr(data-content);
}

.close-btn {
  position: absolute;
  padding-top: 60%;
  padding-bottom: 3%;
  display: inline;
  font-family: Necto-Mono;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: whitesmoke;
}

@media screen and (max-width: 800px) {

  .grid-container {
    column-count: 1;
  }

  .menubar {
    height: 98%;
    top: 1%;
    background: pink;
    border: 5px solid whitesmoke;
    margin: auto;
    left: -300vw;
    transition: 0.75s;
    border-radius: 10vw;
    box-shadow: inset calc(5px + .3vw) calc(5px + .4vw) calc(5px + .4vw) #7d4f56, inset calc(-5px - .4vw) calc(-5px - .4vw) calc(5px + .4vw) #ffcdd9, 0 0 6vw 8vw whitesmoke;
    visibility: hidden;
    overflow-y: hidden;
  }

  .menubar .menubar-item {
    background: none;
    box-shadow: none;
    margin: 0;
  }

  .pill_menu {
    padding: 5px 20px 10px 20px;
    font-size: calc(4.2vh - 1vw);
  }

  .arrow {
    visibility: hidden;
  }

  .menubar .about {
    visibility: hidden;
  }

  html, body {
    margin-right: 0px;
  }

  .header {
    margin: 0%;
    height: 11vh;
    width: 100%;
    position: fixed;
  }

  .header .navButtons{
    visibility: visible;
    background: pink;
    box-shadow: inset calc(5px + .3vw) calc(5px + .3vw) calc(5px + .3vw) #7d4f56, inset calc(-5px - .3vw) calc(-5px - .3vw) calc(5px + .3vw) #ffcdd9;
    position: relative;
    padding: 1.9vh 3vw 1.6vh 3.5vw;
    border-radius: 2vh;
    width: auto;
    display: inline-block;
  }

  .header .navButtons .navTagButton{
    color: whitesmoke;
    visibility: visible;
    padding: 0.5vh 3vw 0.8vh 3vw;
    transition: 0.3s;
    cursor: pointer;
    background-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 18px;
    font-family: 'Necto-Mono';
    font-weight: normal;
    font-size: 1.8vh;
    font-style: normal;
  }

  .header .navButtons .navTagButton:hover{
    color: black;
    transition: 0.3s;
    background-color: whitesmoke;
    font-style: italic;
  }

  .header .navButtons .navAboutButton{
    color: black;
    visibility: visible;
    padding: 0.5vh 3vw 0.8vh 3vw;
    transition: 0.3s;
    cursor: pointer;
    background-color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 18px;
    font-family: 'Necto-Mono';
    font-weight: normal;
    font-size: 1.8vh;
    font-style: italic;
  }

  .header .navButtons .navAboutButton:hover{
    color: whitesmoke;
    transition: 0.3s;
    background-color: black;
    font-style: normal;
  }

  .grid-wrapper {
    padding-top: 11vh;
    padding-right: 0%;
  }

  .grid-item {
    transition: 1.5s;
  }

  .grid-item .summary .title {
    font-size: 8vw;
  }

  .box p {
  font-family: 'Montserrat-Medium';
}

  .header .name {
    font-size: 5vh;
    position: absolute;
    margin-top: 0;
    padding: .5vh 0vh 1vh 0vh;
    right: 15px;
    display: inline-block;
  }

  .header .name2 {
    font-size: 0;
  }

}
